<form  action="/lists" method="post">
  <div class="form-group">
    <label for="name">Make a New List</label>
    <input type="text" name="name">
  </div>
  <button type="submit" class="btn">Add List Here</button>
</form>
