<h3>You answered question #1: <%= @riddle_one %></h3><br>
<h3>You answered question #2: <%= @riddle_two %></h3><br>
<h3>You answered question #3: <%= @riddle_three %></h3><br>
<h2><%=@riddle_output%></h2>
<a href='/'>Return to home page</a>
