<div class="container card">
  <h1>Hello and Welcome to the Librarian page</h1>
  <form class="form-group" action="/librarian" method="post">

    <label id="author" name="author" type = "text">Enter Author</label>
    <input type="text" name="author">

    <label id="title" name="title" type = "text">Enter Title</label>
    <input type="text" name="title">

    <button class="btn btn-info"type="submit" name="button">Enter a Book Into Database
    </button>


  </form>

  <a href="/library_books">View Book Database</a>
</button>

  <button type="button" name="button">
    <a href="/">Return Home</a>
  </button>
</div>
